@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "positions.scss";
@import "navbar.scss";

$primary: #b8d1f3;
$secondary: #7f92ad;

.maxW {
  min-width: 1px;
  max-width: 500px;
}

.bcPrimary {
  background-color: $primary;
}

i {
  font-size: 1.5rem;
  color: #000;
}

.form-control,
.btn-primary {
  border-radius: 50px;
}

.btn-primary {
  width: 100%;
  color: #000;
  background-color: $secondary;
  border-color: $secondary;
}

a {
  color: #000;

  &:hover {
    color: #000;
  }
}

form {
  width: 100%;
}

// Profile pictures
.userPic {
  border-radius: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.profilePic {
  background-image: url("../../assets/images/dmitry-ratushny-T8gLom6k8Jo-unsplash.jpg");
  width: 130px;
  height: 130px;
}

.friendPic {
  background-image: url("../../assets/images/anthony-fomin-oHCBHRuzOyA-unsplash.jpg");
  width: 100px;
  height: 100px;
}

.keywords {
  p {
    background: $primary;
    border-radius: 60px;
  }
}

.wallPost {
  background-color: #fff;
  height: 67px;
  width: 100%;
}
