@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "positions.scss";

// scss-docs-start theme-color-variables
$primary: #b8d1f3;
$secondary: #7f92ad;

.bcBlue {
  background-color: $primary;
}

.form-control,
.btn-primary {
  border-radius: 50px;
}

.btn-primary {
  width: 100%;
  background-color: $secondary;
  border-color: $secondary;
}

a {
  color: #000;

  &:hover {
    color: #000;
  }
}

.maxW {
  min-width: 1px;
  max-width: 500px;
  //   margin: 10px auto;
}

i {
  font-size: 1.5rem;
}

form {
  width: 100%;
}

// @mixin responsive-pic($imageWidth, $imageHeight) {
//   background-size: cover;
//   height: 0;
//   padding-bottom: percentage($imageWidth / $imageHeight);
//   display: block;
// }

.userPic {
  border-radius: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.profilePic {
  background-image: url("../../assets/images/dmitry-ratushny-T8gLom6k8Jo-unsplash.jpg");
  width: 130px;
  height: 130px;
}

.friendPic {
  background-image: url("../../assets/images/anthony-fomin-oHCBHRuzOyA-unsplash.jpg");
  width: 100px;
  height: 100px;
}
