@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// scss-docs-start theme-color-variables
$primary: #b8d1f3;
$secondary: #7f92ad;

.bcBlue {
  background-color: $primary;
}

.form-control,
.btn-primary {
  border-radius: 50px;
}

.btn-primary {
  width: 100%;
  background-color: $secondary;
  border-color: $secondary;
}

a {
  color: #000;

  &:hover {
    color: #000;
  }
}

.maxW {
  min-width: 1px;
  max-width: 500px;
  //   margin: 10px auto;
}

i {
  font-size: 1.5rem;
}

form {
  width: 100%;
}

.userPic {
  border-radius: 100%;
  background-size: cover;
}

.profilePic {
  background-image: url("../../assets/images/dmitry-ratushny-T8gLom6k8Jo-unsplash.jpg");
  width: 120px;
  height: 120px;
}

.friendPic {
  background-image: url("../../assets/images/anthony-fomin-oHCBHRuzOyA-unsplash.jpg");
  width: 100px;
  height: 100px;
}
